In [6]:
from pyspark.sql import SparkSession

In [7]:
spark = SparkSession.builder.appName("Add_col").getOrCreate()

In [8]:
df = spark.read.csv("Departments.csv", header=True, inferSchema=True)
df.show()

+-------+------------+------+
|   Name|  Department|Salary|
+-------+------------+------+
| Chandu|Data Science| 10000|
| Chandu|         IOT|  5000|
| Rohith|    Big Data|  4000|
| Chandu|    Big Data|  4000|
| Rohith|Data Science|  3000|
|Krishna|Data Science| 20000|
|Krishna|         IOT| 10000|
|Krishna|    Big Data|  5000|
| Rashmi|Data Science| 10000|
| Rashmi|    Big Data|  2000|
+-------+------------+------+

In [9]:
from pyspark.sql.functions import lit
df.withColumn("Id", lit(101)).show()

+-------+------------+------+---+
|   Name|  Department|Salary| Id|
+-------+------------+------+---+
| Chandu|Data Science| 10000|101|
| Chandu|         IOT|  5000|101|
| Rohith|    Big Data|  4000|101|
| Chandu|    Big Data|  4000|101|
| Rohith|Data Science|  3000|101|
|Krishna|Data Science| 20000|101|
|Krishna|         IOT| 10000|101|
|Krishna|    Big Data|  5000|101|
| Rashmi|Data Science| 10000|101|
| Rashmi|    Big Data|  2000|101|
+-------+------------+------+---+

In [10]:
from pyspark.sql.functions import concat_ws
df.withColumn("Details", concat_ws('-',"Name", "Department")).show()

+-------+------------+------+--------------------+
|   Name|  Department|Salary|             Details|
+-------+------------+------+--------------------+
| Chandu|Data Science| 10000| Chandu-Data Science|
| Chandu|         IOT|  5000|          Chandu-IOT|
| Rohith|    Big Data|  4000|     Rohith-Big Data|
| Chandu|    Big Data|  4000|     Chandu-Big Data|
| Rohith|Data Science|  3000| Rohith-Data Science|
|Krishna|Data Science| 20000|Krishna-Data Science|
|Krishna|         IOT| 10000|         Krishna-IOT|
|Krishna|    Big Data|  5000|    Krishna-Big Data|
| Rashmi|Data Science| 10000| Rashmi-Data Science|
| Rashmi|    Big Data|  2000|     Rashmi-Big Data|
+-------+------------+------+--------------------+

In [15]:
if "Salary" not in df.columns:
    df.withColumn("Salary", lit(30000))
df.show()

+-------+------------+------+
|   Name|  Department|Salary|
+-------+------------+------+
| Chandu|Data Science| 10000|
| Chandu|         IOT|  5000|
| Rohith|    Big Data|  4000|
| Chandu|    Big Data|  4000|
| Rohith|Data Science|  3000|
|Krishna|Data Science| 20000|
|Krishna|         IOT| 10000|
|Krishna|    Big Data|  5000|
| Rashmi|Data Science| 10000|
| Rashmi|    Big Data|  2000|
+-------+------------+------+