In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('groupby').getOrCreate()

In [4]:
df = spark.read.csv("Departments.csv", header=True, inferSchema=True)
df.show()

+-------+------------+------+
|   Name|  Department|Salary|
+-------+------------+------+
| Chandu|Data Science| 10000|
| Chandu|         IOT|  5000|
| Rohith|    Big Data|  4000|
| Chandu|    Big Data|  4000|
| Rohith|Data Science|  3000|
|Krishna|Data Science| 20000|
|Krishna|         IOT| 10000|
|Krishna|    Big Data|  5000|
| Rashmi|Data Science| 10000|
| Rashmi|    Big Data|  2000|
+-------+------------+------+

In [5]:
df.groupBy("Department").sum("Salary").show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [12]:
df.groupBy("Department").min("Salary").show()

+------------+-----------+
|  Department|min(Salary)|
+------------+-----------+
|         IOT|       5000|
|    Big Data|       2000|
|Data Science|       3000|
+------------+-----------+

In [13]:
df.groupBy("Department").max("Salary").show()

+------------+-----------+
|  Department|max(Salary)|
+------------+-----------+
|         IOT|      10000|
|    Big Data|       5000|
|Data Science|      20000|
+------------+-----------+

In [10]:
df.groupBy("Department").mean("Salary").show()

+------------+-----------+
|  Department|avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [11]:
df.groupBy("Department").avg("Salary").show()

+------------+-----------+
|  Department|avg(Salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [14]:
df.groupBy("Department").pivot("Name").sum("Salary").show()

+------------+------+-------+------+------+
|  Department|Chandu|Krishna|Rashmi|Rohith|
+------------+------+-------+------+------+
|         IOT|  5000|  10000|  NULL|  NULL|
|    Big Data|  4000|   5000|  2000|  4000|
|Data Science| 10000|  20000| 10000|  3000|
+------------+------+-------+------+------+