In [1]:
import pyspark

In [2]:
import pandas as pd
pd.read_csv('scores.csv')

       Name  M1 Score  M2 Score
0      Siri        62        80
1    Manasa        45        56
2      veda        85        98
3  varshini        88        90

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('learn').getOrCreate()

In [5]:
spark

In [6]:
df_pyspark = spark.read.csv('scores.csv')

In [7]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string]

In [8]:
df_pyspark.show()

+--------+--------+--------+
|     _c0|     _c1|     _c2|
+--------+--------+--------+
|    Name|M1 Score|M2 Score|
|    Siri|      62|      80|
|  Manasa|      45|      56|
|    veda|      85|      98|
|varshini|      88|      90|
+--------+--------+--------+

In [13]:
df_pyspark = spark.read.option('header','True').csv('scores.csv')

In [14]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [15]:
df_pyspark.head(2)

[Row(Name='Siri', M1 Score='62', M2 Score='80'),
 Row(Name='Manasa', M1 Score='45', M2 Score='56')]

In [17]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- M1 Score: string (nullable = true)
 |-- M2 Score: string (nullable = true)