In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("sorting").getOrCreate()

In [3]:
df = spark.read.csv("Departments.csv", header=True, inferSchema=True)
df.show()

+-------+------------+------+
|   Name|  Department|Salary|
+-------+------------+------+
| Chandu|Data Science| 10000|
| Chandu|         IOT|  5000|
| Rohith|    Big Data|  4000|
| Chandu|    Big Data|  4000|
| Rohith|Data Science|  3000|
|Krishna|Data Science| 20000|
|Krishna|         IOT| 10000|
|Krishna|    Big Data|  5000|
| Rashmi|Data Science| 10000|
| Rashmi|    Big Data|  2000|
+-------+------------+------+

In [6]:
df.sort("Department").show()

+-------+------------+------+
|   Name|  Department|Salary|
+-------+------------+------+
| Rohith|    Big Data|  4000|
| Chandu|    Big Data|  4000|
|Krishna|    Big Data|  5000|
| Rashmi|    Big Data|  2000|
| Chandu|Data Science| 10000|
| Rohith|Data Science|  3000|
|Krishna|Data Science| 20000|
| Rashmi|Data Science| 10000|
| Chandu|         IOT|  5000|
|Krishna|         IOT| 10000|
+-------+------------+------+

In [7]:
df.sort("Salary", ascending = False).show()

+-------+------------+------+
|   Name|  Department|Salary|
+-------+------------+------+
|Krishna|Data Science| 20000|
| Chandu|Data Science| 10000|
|Krishna|         IOT| 10000|
| Rashmi|Data Science| 10000|
| Chandu|         IOT|  5000|
|Krishna|    Big Data|  5000|
| Rohith|    Big Data|  4000|
| Chandu|    Big Data|  4000|
| Rohith|Data Science|  3000|
| Rashmi|    Big Data|  2000|
+-------+------------+------+

In [5]:
df.orderBy(["Name", "Salary"]).show()

+-------+------------+------+
|   Name|  Department|Salary|
+-------+------------+------+
| Chandu|    Big Data|  4000|
| Chandu|         IOT|  5000|
| Chandu|Data Science| 10000|
|Krishna|    Big Data|  5000|
|Krishna|         IOT| 10000|
|Krishna|Data Science| 20000|
| Rashmi|    Big Data|  2000|
| Rashmi|Data Science| 10000|
| Rohith|Data Science|  3000|
| Rohith|    Big Data|  4000|
+-------+------------+------+

In [4]:
df.sort(df["Salary"].desc()).show()

+-------+------------+------+
|   Name|  Department|Salary|
+-------+------------+------+
|Krishna|Data Science| 20000|
| Chandu|Data Science| 10000|
|Krishna|         IOT| 10000|
| Rashmi|Data Science| 10000|
| Chandu|         IOT|  5000|
|Krishna|    Big Data|  5000|
| Rohith|    Big Data|  4000|
| Chandu|    Big Data|  4000|
| Rohith|Data Science|  3000|
| Rashmi|    Big Data|  2000|
+-------+------------+------+

In [10]:
df.sort("Salary", "Department").show()

+-------+------------+------+
|   Name|  Department|Salary|
+-------+------------+------+
| Rashmi|    Big Data|  2000|
| Rohith|Data Science|  3000|
| Rohith|    Big Data|  4000|
| Chandu|    Big Data|  4000|
|Krishna|    Big Data|  5000|
| Chandu|         IOT|  5000|
| Chandu|Data Science| 10000|
| Rashmi|Data Science| 10000|
|Krishna|         IOT| 10000|
|Krishna|Data Science| 20000|
+-------+------------+------+