In [17]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Spark_SQL") .config("spark.some.config.option", "some-value").getOrCreate()

In [27]:
df = spark.read.csv("scores.csv", header=True, inferSchema=True)
df.show()

+--------+--------+--------+
|    Name|M1 Score|M2 Score|
+--------+--------+--------+
|    Siri|      62|      80|
|  Manasa|      45|      56|
|    veda|      85|      98|
|varshini|      88|      90|
+--------+--------+--------+

In [28]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- M1 Score: integer (nullable = true)
 |-- M2 Score: integer (nullable = true)

In [29]:
df.select("Name").show()

+--------+
|    Name|
+--------+
|    Siri|
|  Manasa|
|    veda|
|varshini|
+--------+

In [31]:
df.select(df["Name"], df['M1 Score'], df['M2 Score']+2).show()

+--------+--------+--------------+
|    Name|M1 Score|(M2 Score + 2)|
+--------+--------+--------------+
|    Siri|      62|            82|
|  Manasa|      45|            58|
|    veda|      85|           100|
|varshini|      88|            92|
+--------+--------+--------------+

In [32]:
df.filter(df['M1 Score']>75).show()

+--------+--------+--------+
|    Name|M1 Score|M2 Score|
+--------+--------+--------+
|    veda|      85|      98|
|varshini|      88|      90|
+--------+--------+--------+

In [33]:
df.groupBy("M1 Score").count().show()

+--------+-----+
|M1 Score|count|
+--------+-----+
|      85|    1|
|      88|    1|
|      45|    1|
|      62|    1|
+--------+-----+

In [34]:
df.createOrReplaceTempView("scores")

In [35]:
sqlDf = spark.sql("SELECT * FROM scores")
sqlDf.show()

+--------+--------+--------+
|    Name|M1 Score|M2 Score|
+--------+--------+--------+
|    Siri|      62|      80|
|  Manasa|      45|      56|
|    veda|      85|      98|
|varshini|      88|      90|
+--------+--------+--------+